<div class="w3-container w3-center">
    <div class="w3-card-4" style="width:100%">
        <header class="w3-container">
          <h3><img src="./../../assets/images/cartoon-woman.png" alt="Avatar" class="w3-circle w3-center" style="width:50px"></h3>
        </header>
        <div class="w3-container">
          <h2>Jane V. Doe</h2>
          <hr>
          
          <p>Specialist in Erotica</p><br>
        </div>
        <button class="w3-button w3-block w3-light-green w3-round">Read sample &raquo;</button>
      </div>
</div>

<div class="w3-container w3-center">

    <div class="w3-card-4" style="width:100%">
        <header class="w3-container">
          <h3><img src="./../../assets/images/cartoon-man.png" alt="Avatar" class="w3-circle w3-center" style="width:50px"></h3>
        </header>
        <div class="w3-container">
          <h2>Isaac Asimov</h2>
          <hr>
          
          <p>Science-fiction afficionado</p><br>
        </div>
        <button class="w3-button w3-block w3-light-green w3-round">Read sample &raquo;</button>
      </div>
</div>

<div class="w3-container w3-center">

    <div class="w3-card-4" style="width:100%">
        <header class="w3-container">
          <h3><img src="./../../assets/images/cartoon-man2.png" alt="Avatar" class="w3-circle w3-center" style="width:50px"></h3>
        </header>
        <div class="w3-container">
          <h2>Steven Kingdom</h2>
          <hr>
          
          <p>Horror magic maestro</p><br>
        </div>
        <button class="w3-button w3-block w3-light-green w3-round">Read sample &raquo;</button>
      </div>
</div>

<div class="w3-container w3-center">

    <div class="w3-card-4" style="width:100%">
        <header class="w3-container">
          <h3><img src="./../../assets/images/cartoon-woman2.png" alt="Avatar" class="w3-circle w3-center" style="width:50px"></h3>
        </header>
        <div class="w3-container">
          <h2>Chidanda Ohakim</h2>
          <hr>
          
          <p>Fantasy-fiend</p><br>
        </div>
        <button class="w3-button w3-block w3-light-green w3-round">Read sample &raquo;</button>
      </div>
</div>

