/*body, html {
    height: 100%;
    margin: 0;
  }
  
  .bgimg {
    background-image: url('./../../assets/images/sea-sky.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }*/

  .middle {
    text-align: center;
    background-image: url('./../../assets/images/sea-sky.jpg');
    height: 190px;
    background-position: center;
    background-size: cover;
    position: relative;
    color: rgb(250, 247, 242);
    font-size: 24px;
    font-weight: bold;
  }