<div class="w3-container w3-padding-large w3-section w3-light-grey">
    <h3 class="w3-jumbo">Fantasy</h3>
    <p class="w3-xlarge">fiction in an unreal setting that often includes magic, magical creatures, or the supernatural</p>
    <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']" >SEE TITLES</a>
    <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">MEET AUTHORS</a>
    <p class="w3-large">
    <div class="w3-code cssHigh notranslate">
   
    </div>
    <a class="w3-button w3-brown w3-hover-white" href="/css/tryit.asp?filename=trycss_default" target="_blank">Explore &raquo;</a>
  </div>
  
  <!-- section 2-->
  
  <div class="w3-container w3-padding-large w3-section w3-light-grey">
      <h3 class="w3-jumbo">Mystery</h3>
      <p class="w3-xlarge">fiction dealing with the solution of a crime or the revealing of secrets</p>
      <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">SEE TITLES</a>
      <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">MEET AUTHORS</a>
      <p class="w3-large">
      <div class="w3-code cssHigh notranslate">
     
      </div>
      <a class="w3-button w3-brown w3-hover-white" href="/css/tryit.asp?filename=trycss_default" target="_blank">Explore &raquo;</a>
    </div>
  
    <!-- section 3 -->
  
    <div class="w3-container w3-padding-large w3-section w3-light-grey">
        <h3 class="w3-jumbo">Short story</h3>
        <p class="w3-xlarge">fiction of great brevity, usually supports no subplots</p>
        <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">SEE TITLES</a>
        <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">MEET AUTHORS</a>
        <p class="w3-large">
        <div class="w3-code cssHigh notranslate">
       
        </div>
        <a class="w3-button w3-brown w3-hover-white" href="/css/tryit.asp?filename=trycss_default" target="_blank">Explore &raquo;</a>
    </div>
  
      <!-- section 4 -->
      <div class="w3-container w3-padding-large w3-section w3-light-grey">
          <h3 class="w3-jumbo">Biography</h3>
          <p class="w3-xlarge">a narrative of a person's life; when the author is also the main subject.</p>
          <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">SEE TITLES</a>
          <a class="w3-button w3-orange w3-hover-white" [routerLink]="['/catalogue']">MEET AUTHORS</a>
          <p class="w3-large">
          <div class="w3-code cssHigh notranslate">
         
          </div>
          <a class="w3-button w3-brown w3-hover-white" href="/css/tryit.asp?filename=trycss_default" target="_blank">Explore &raquo;</a>
        </div>
